*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(https://i.pinimg.com/originals/90/d4/0f/90d40fa405e54e22f4ed01608fb48f23.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.section {
    margin: auto;
    width: 40rem;
    padding:10px;
    background: rgba(0,0,0,.7);
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    border-radius: 9px;
}

.container{
   height:8rem;
    width:6rem;
   margin:5px;
   -webkit-perspective: 500;
}

.card{ 
    width: 100%;
    height:100%;
    position: relative;
    transform-style: preserve-3d;
    transition:2s;
}
.card_rotate {
    transform:rotateY(180deg)
}

.lado {
    width:100%;
    height:100%;
    backface-visibility: hidden;
    position:absolute;
}

.front{
    background:royalblue;
   
}
.back{
    background:seagreen;
    transform: rotateY(180deg); 
}
img {
    width:100%;
    height: 100%;
}
/*========================= seccion del menu de puntuacion ============== */
.container__points {
    font-family: 'Potta One', cursive;
    width:35rem;
    display:block;
    margin: auto;
    background: rgba(219, 231, 42, 0.7);
    padding: 8px;
    margin-top:10px;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#moven{
    font-size: 17px;
}
#btn{
    font-family: 'Potta One', cursive;
    font-size: 15px;
    background: rgb(248, 52, 52,.9);
    border: none;
    padding:5px;
    border-radius:10px;
    cursor: pointer;
    outline: none;
}
#btn:hover {
    background:rgba(0,0,0,.9);
    color:white;
}
/*========================= media querys ============== */


@media(max-width:680px) {
    .section{
        width: 25rem;
    }
    .container{
        height:7rem;
        width:4rem;
    }
    .container__points{
        width:20rem;
    }
    #moven{
        font-size: 13px;
    }
    #btn{
        font-size: 13px;
    }
    #time{
        font-size:13px;
    }
}


@media(max-width:580px) {
    .section{
        width: 20rem;
    }
    .container{
        height:5rem;
        width:3rem;
    }
    .container__points{
        width:17rem;
    }
}